@media screen and (max-width: 1120px) {
    body h1 {
        margin-top: 30px;
    }
    body .container main .main-top-block .item  {
        width: 250px;
    }
}
@media screen and (max-width: 1000px) {
    body {
        overflow: auto;
    }
    body .container main .spinner {
        margin-top: 30%;
    }
    body .container main .main-top-block {
        padding-bottom: 20%;
    }
    body .container main .main-top-block .item  {
        width: 100%;
        margin: 10px 0;
    }
}
@media screen and (max-width: 800px) {
    body .container {
        width: 80%;
    }
    body .container main .main-top-block {
        padding-bottom: 40%;
    }
}   