* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;

    font-family: 'Lato', sans-serif;
    color: #fff;
    background: linear-gradient(to bottom right, blue, 20% ,rgb(19, 231, 220));
    background-repeat: no-repeat;
    .container {
        width: 50%;
        margin: 10% auto;
        header{
            h1 {
                text-transform: uppercase;
                text-align: center;
                font-weight: 700;
            }
            .btns {
                margin: 20px 0 10px;
                display: flex;
                justify-content: center;
                button {
                    margin: 0 5px;
                    width: 25%;
                    height: 25px;
                    color: rgb(29, 29, 29);
                    background-color: rgba(5, 141, 134, 0.24);
                    border: 1px solid rgb(0, 0, 0);
                    border-radius: 3px;
                    cursor: pointer;
                    transition: .3s linear;
                }
                button:hover{
                    border: 1px solid rgb(255, 255, 255);
                }
            }
            .search-block {
                width: 70%;
                margin: 10px auto;
                display: flex;
                justify-content: space-between;
                input {
                    width: 70%;
                    outline: none;
                    height: 30px;
                    border: 1px solid #000;
                    border-radius: 3px;
                    text-indent: 7px;
                }
                input:focus {
                    border: 1px solid rgb(255, 9, 9);
                }
                .accept {
                    margin: 0 5px;
                    width: 30%;
                    height: 30px;
                    color: rgb(29, 29, 29);
                    background-color: rgba(8, 255, 243, 0.452);
                    border: 1px solid rgb(0, 0, 0);
                    border-radius: 3px;
                    cursor: pointer;
                    transition: .3s linear;
                }
            }
        } 
        main {
            margin: 10px 0 0;
            width: 100%;
            .main-top-block {
                width: 100%;
                min-height: 270px;

                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                align-items: center;
                text-align: center;
                font-weight: 600;
                font-size: 1.1rem;
                .item {
                    padding: 20px 15px;
                    border: 1px solid rgb(95, 95, 95);
                    border-radius: 4px;
                    background-color: rgba(5, 141, 134, 0.178);
                    width: 45%;
                    min-height: 270px;
                    hr {
                        margin: 7px 0;
                        border: 1px solid rgb(255, 255, 255);
                    }
                }
                .top-left-block {
                    .top-left-bottom-block {
                        padding: 15px 30px 10px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font-weight: 400;
                        .left-side {
                            display: flex;
                            flex-direction: column;
                            .weather-img {
                                width: 100px;
                                transform: scale(1.5, 1.5);
                            }
                        }
                        .right-side {
                            .out-date, .out-description {
                                font-weight: 600;
                            }
                            .out-deg-temp {
                                margin-top: 36px;
                            }
                        }
                    }
                }
                .top-right-block {
                    .right-inner-block {
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        padding: 15px 8px 10px;
                        text-align: left;
                        p {
                            margin: 5px 0;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }
}